boot2/.settings/language.settings.xml
boot2/Debug/
elf2uf2/.settings/language.settings.xml
elf2uf2/.settings/org.eclipse.cdt.managedbuilder.core.prefs
elf2uf2/Debug/
pico_fw/.settings/language.settings.xml
